name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 691210492006.dkr.ecr.us-east-1.amazonaws.com

    - name: Build Docker Image
      run: |
        docker build -t myapp .

    - name: Tag Docker Image
      run: |
        docker tag myapp:latest 691210492006.dkr.ecr.us-east-1.amazonaws.com/myapp:latest

    - name: Push Image to ECR
      run: |
        docker push 691210492006.dkr.ecr.us-east-1.amazonaws.com/myapp:latest

    - name: Configure kubectl for EKS
      run: |
        aws eks update-kubeconfig --region us-east-1 --name my-cluster

    - name: Deploy to Kubernetes
      run: |
        kubectl set image deployment/myapp myapp=691210492006.dkr.ecr.us-east-1.amazonaws.com/myapp:latest --record

